	.normal {
	    background-color: #A8A77A;
	}

	.fire {
	    background-color: #EE8130;
	}

	.water {
	    background-color: #6390F0;
	}

	.electric {
	    background-color: #F7D02C;
	}

	.grass {
	    background-color: #7AC74C;
	}

	.ice {
	    background-color: #96D9D6;
	}

	.fighting {
	    background-color: #C22E28
	}

	.poison {
	    background-color: #A33EA1;
	}

	.ground {
	    background-color: #E2BF65;
	}

	.flying {
	    background-color: #A98FF3;
	}

	.psychic {
	    background-color: #F95587;
	}

	.bug {
	    background-color: #A6B91A;
	}

	.rock {
	    background-color: #B6A136;
	}

	.ghost {
	    background-color: #735797;
	}

	.dragon {
	    background-color: #6F35FC;
	}

	.dark {
	    background-color: #705746;
	}

	.steel {
	    background-color: #B7B7CE;
	}

	.fairy {
	    background-color: #D685AD;
	}



	.pokemons {
	    display: grid;
	    grid-template-columns: 1fr;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	.pokemon {
	    display: flex;
	    flex-direction: column;
	    margin: .5rem;
	    padding: 1rem;
	    border-radius: 1rem;
	    /* background-color: #49d0b0; */
	    transition: .2s;
	}

	.pokemon:hover {
	    transform: scale(1.08);
	}

	.pokemon .number {
	    color: #000;
	    opacity: .3;
	    text-align: right;
	    font-size: .625rem;
	}

	.pokemon .name {
	    color: #fff;
	    margin-bottom: .25rem;
        text-transform: capitalize;
	}

	.pokemon .detail {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	}

	.pokemon .detail .types {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	}

	.pokemon .detail .types .type {
	    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.199)) brightness(1.1);
	    color: #fff;
	    padding: .5rem .5rem;
        letter-spacing: .1rem;
        font-weight: 400;
        text-transform: capitalize;
	    margin: .25rem 0;
	    font-size: .8rem;
        text-align: center;
	    border-radius: 1rem;
	}

	.pokemon .detail img {
	    max-width: 100%;
	    height: 70px;
	}

    .paginacao{
        text-align: center;
        margin: 2rem;
    }

    .carregarmais{
    	background-color: gray;
	    color: #fff;
	    padding: .60rem 1rem;
	    font-size: .8rem;
        text-align: center;
        border: none;
	    border-radius: 1rem;
        transition: .2s;
        cursor: pointer;
    }
    .carregarmais:hover{
        transform: scale(1.1);
        filter: brightness(1.1);
    }

	@media screen and (min-width: 380px) {
	    .pokemons {
	        grid-template-columns: 1fr 1fr;
	    }
	}

	@media screen and (min-width: 576px) {
	    .pokemons {
	        grid-template-columns: 1fr 1fr 1fr;
	    }
	}

	@media screen and (min-width: 992px) {
	    .pokemons {
	        grid-template-columns: 1fr 1fr 1fr 1fr;
	    }
	}